.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-gap: 1vw;
}

@media (min-width: 1000px) {
  .card-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 700px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
